---
import headshotImg from '@image:headshot_transparency_offwhite_photo-2022-03-08.png';
import SecureAnchor from '@component:SecureAnchor.astro';
---

<div id="top" class="bg-primary text-white text-center text-md-start p-3">
  <div class="container">
    <div class="row justify-content-center">

      <!-- HEADSHOT -->

      <div class="hero__headshot col-12 col-sm-8 col-md-4 text-md-end">
        <img src={ headshotImg } class="rounded-circle shadow img-fluid">
      </div>

      <div class="col-12 col-md">
        <div class="row">

          <!-- HEADLINE -->

          <div class="col-12">
            <h1 class="display-2 fw-normal font-monospace">Mike Churvis</h1>
            <p class="h3">Full-Stack Developer</p>
            <!-- <p>Web Apps &bull; Websites &bull; APIs</p> -->
          </div>

          <!-- CALL TO ACTION -->

          <div class="col-12 my-2">
            <div class="row gap-3 align-items-center">

              <div class="col-12 col-md-auto">
                <div class="alert alert-info shadow shadow-glow-info m-0 p-1 d-inline-flex align-items-center">
                  <i class="bi bi-briefcase text-success fs-4 me-2"></i>
                  <span class="text-success fs-5 fw-bold">Hiring?</span>
                  <div class="ms-3">
                    <a href="#contact-form__name" class="btn btn-success fs-6 fw-bold stretched-link">Contact Me</a>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-auto">
                <SecureAnchor dest="Google Docs"
                  href="https://docs.google.com/document/d/1OXhOpS_0R9XaxMbjMaMJuRj1WHKsW5dUWVgsK8_gLXg/edit?usp=sharing"
                  class="btn btn-outline-light align-items-center">
                  View my CV
                </SecureAnchor>
              </div>
            </div>
          </div>


          <!-- CERTIFICATION BADGES -->

          <div class="col-12 col-md-auto mt-3" aria-label="Certifications">
            <!-- <div class="row p-2 text-center text-md-start  mb-2">
              <div class="col">
                <span class="font-monospace fs-5">Certifications</span>
                <span class="badge bg-danger">New</span> 
              </div>
            </div> -->

            <div class="row justify-content-center justify-content-md-start">
              <div class="col-4 col-sm-3 text-center">
                <SecureAnchor dest="proof of certification"
                class="text-decoration-none text-white"
                href="https://www.credly.com/badges/15840c97-bdb9-40c7-b1f2-fc9b8ec95394" hasIcon={false}>
                <img class="img-fluid rounded-circle shadow shadow-glow-warning"
                src="https://images.credly.com/size/680x680/images/68fb1361-3dbc-4bcb-9748-66620b61bf01/pcpp-32-1xx.png"
                alt="Certification Badge: Certified Professional in Python Programming">
                <span>Python Professional<br>[PCPP1]</span>
              </SecureAnchor>
              </div>

              <div class="col-4 col-sm-3 text-center">
                <SecureAnchor dest="proof of certification"
                class="text-decoration-none text-white"
                href="https://www.credly.com/badges/f4b8128d-29c9-4449-80c0-9bffbfa4a814" hasIcon={false}>
                <img class="img-fluid rounded-circle shadow"
                src="https://images.credly.com/size/340x340/images/587b02d4-41d5-4a81-9b9d-b5076200713c/pcap-31-xx.png"
                alt="Certification Badge: Certified Associate in Python Programming">
                <span>Python Associate<br>[PCAP]</span>
              </SecureAnchor>
              </div>

              <div class="col-4 col-sm-3 text-center">
                <SecureAnchor dest="proof of certification"
                class="text-decoration-none text-white"
                href="https://www.credly.com/badges/492db541-2b16-4a28-97ff-8da863931b23" hasIcon={false}>
                <img class="img-fluid rounded-circle shadow"
                src="https://images.credly.com/size/340x340/images/94d0811d-8fed-47e5-acc8-50b69342a9a4/pcep-30-02-badge.png"
                alt="Certification Badge: Certified Entry-Level Python Programmer">
                <span>Python Entry<br>[PCEP]</span>
              </SecureAnchor>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>