---
import SectionLayout from "@layout:SectionLayout.astro";

import TitledContainer from "@component:TitledContainer.astro";
import LabeledIcon from "@component:LabeledIcon.astro";
import SecureAnchor from "@component:SecureAnchor.astro";

// Use of an categories array instead of skills.keys
// guarantees a fixed presentation order.
const skillCategories = [
  "Backend",
  "Frontend",
  "Testing",
  "DevOps",
  "Languages",
];

const skills = {
  "Frontend": [
    ["Vue", "vue-logo.png"],
    ["Bootstrap", "bootstrap-logo.svg"],
    ["Astro", "astro-logo.png"],
    ["Tailwind", "tailwind-logo.png"],
    ["Accessibility", "accessibility-logo.png"],
    ["Mobile-First", "mobile-first-logo.png"],
  ],
  "Backend": [
    ["Django", "django-logo.png"],
    ["PostgreSQL", "postgresql-logo.png"],
    ["Redis", "redis-logo.png"],
    ["Nginx", "nginx-logo.png"],
    ["Ubuntu", "ubuntu-logo.png"],
    ["REST API Design", "rest-architecture-logo.png"],
  ],
  "Testing": [
    ["Cypress", "cypress-logo.webp"],
    ["Pytest", "pytest-logo.svg"],
    ["Vitest", "vitest-logo.svg"],
    ["DevTools", "devtools-logo.svg"],
    ["E2E Testing", "e2e-logo.png"],
    ["TDD", "tdd-logo.png"],
  ],
  "DevOps": [
    ["Docker", "docker-logo.png"],
    ["DigitalOcean", "digitalocean-logo.png"],
    ["Git", "git-logo.png"],
    ["CI/CD", "github-actions-logo.png"],
    ["SDLC", "ci-cd-logo.png"],
    ["12-Factor", "12-factor-logo.png"],
  ],
  "Languages": [
    ["Python", "python-logo.svg"],
    ["SQL", "sql-logo.png"],
    ["TypeScript", "typescript-logo.svg"],
    ["JavaScript", "es6-logo.png"],
    ["Sass/SCSS", "sass-logo.png"],
    ["C#", "csharp-logo.png"],
  ],
};
---


<SectionLayout title="My Skills" id="skills">

  {skillCategories.map((category) => (

    <TitledContainer title={category}>
      <div class="row">

        {skills[category].map(([skill, logo]) => (
          
          <div class="col-4 col-md py-2">
            <LabeledIcon title={skill} iconPath={"/images/logos/" + logo} />
          </div>

        ))}

      </div>
    </TitledContainer>

  ))}
  
  <br>

  <p>
    Check out this website's 
    <SecureAnchor 
      dest="GitHub" 
      href="https://github.com/MikeChurvis/mikechurvis.github.io"
    >GitHub repository</SecureAnchor>
    to see how I put all of the above to use.
  </p>

  <p>
    My CV is
    <SecureAnchor
      dest="Google Docs"
      href="https://docs.google.com/document/d/1OXhOpS_0R9XaxMbjMaMJuRj1WHKsW5dUWVgsK8_gLXg/edit?usp=sharing"
    >available here</SecureAnchor>.
    It contains a complete list of my skills and training.
  </p>
</SectionLayout>