---
import StackBlock from './StackBlock.vue'
---

<div class="container">
    <div class="row">
        <div class="col">
            <StackBlock title="Docker Containers" icon="docker-logo.png" dashed>
                <div class="container">
                    <div class="row">
                        <StackBlock title="Nginx" icon="nginx-logo.png"></StackBlock>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <StackBlock title="Django" icon="django-logo.png" vertical></StackBlock>
                        </div>
                        <div class="col-auto">
                            <StackBlock title="PostgreSQL" icon="postgresql-logo.png" vertical></StackBlock>
                        </div>
                    </div>
                </div>
            </StackBlock>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <StackBlock title="Ubuntu" icon="ubuntu-logo.png"></StackBlock>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <StackBlock title="Digitalocean" icon="digitalocean-logo.png"></StackBlock>
        </div>
    </div>
</div>