---
const { logo } = Astro.props;
const logoPath = "../../images/" + logo;
---

<div class="col-auto rounded m-1 p-2 shadow bg-light bg-opacity-75 justify-content-center d-flex flex-column">
    <a href="#my-skills" class="stretched-link"></a>
    {!!logo ? (
        <img src={Astro.resolve(logoPath)} alt={logo} class="mx-auto">
    ):(
        <div class="d-flex justify-content-center">
            <span class="text-adjust-up text-center fs-1 fw-bold">
                &#123;...&#125;
            </span>
        </div>
    )}
    <div class="text-black text-center display-6 fs-4 fw-normal">
        <slot></slot>
    </div>
</div>


<style lang="scss">
img {
    max-height: 2.5rem;
}

span.text-adjust-up {
    position: relative;
    top: -0.8rem;
    margin-bottom: -0.9rem;
}
</style>