---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
import TitledContainer from '../components/TitledContainer.astro'
import LabeledIcon from '../components/LabeledIcon.astro'
import Navbar from '../components/Navbar.astro'
import ContactForm from '../components/ContactForm.vue'
---

<BaseLayout title="Mike Churvis">
	<div class="container-fluid p-0">
		<div id="top"></div>

		<Navbar></Navbar>

		<Hero></Hero>

		<Section title="welcome">
			<p>
				Hey folks, I'm Mike! 
				I'm a developer based near Atlanta, GA.
				I design, build, and deploy web apps and websites.
			</p>
			<p>
				In fact, not only did <strong>I build this website</strong>, 
				I built it <em>the hard way:</em>
				no templates, no WYSIWYG editors, no boilerplate,
				<strong>no shortcuts.</strong>
			</p>
			<p>
				Why? Because that's how I learned...
			</p>
		</Section>
		
		<Section title="my skills">
			<div>
				<TitledContainer title="Frontend">
					<LabeledIcon title="Vue"></LabeledIcon>
					<LabeledIcon title="TypeScript" iconFileName="typescript-logo.svg"></LabeledIcon>
					<LabeledIcon title="Bootstrap" iconFileName="bootstrap-logo.svg"></LabeledIcon>
					<LabeledIcon title="Sass/SCSS" iconFileName="sass-logo.png"></LabeledIcon>
					<LabeledIcon title="ES6"></LabeledIcon>
					<LabeledIcon title="Astro"></LabeledIcon>
				</TitledContainer>
				<TitledContainer title="Backend">
					<LabeledIcon title="Django"></LabeledIcon>
					<LabeledIcon title="PostgreSQL"></LabeledIcon>
					<LabeledIcon title="Docker"></LabeledIcon>
					<LabeledIcon title="Ubuntu"></LabeledIcon>
					<LabeledIcon title="Nginx"></LabeledIcon>
					<LabeledIcon title="DigitalOcean"></LabeledIcon>
				</TitledContainer>
				<TitledContainer title="Tooling">
					<LabeledIcon title="PyCharm"></LabeledIcon>
					<LabeledIcon title="VS Code"></LabeledIcon>
					<LabeledIcon title="Git"></LabeledIcon>
					<LabeledIcon title="GitHub"></LabeledIcon>
					<LabeledIcon title="GitHub Actions"></LabeledIcon>
					<LabeledIcon title="Bash"></LabeledIcon>
				</TitledContainer>
				<TitledContainer title="Principles" columns="4">
					<LabeledIcon title="Agile"></LabeledIcon>
					<LabeledIcon title="CI/CD"></LabeledIcon>
					<LabeledIcon title="Git Flow"></LabeledIcon>
					<LabeledIcon title="Mobile-First Design" iconFileName="mobile-first-logo.png"></LabeledIcon>
					<LabeledIcon title="12-Factor Apps" iconFileName="12-factor-logo.png"></LabeledIcon>
					<LabeledIcon title="SEO"></LabeledIcon>
					<LabeledIcon title="Accessibility"></LabeledIcon>
					<LabeledIcon title="REST Architecture" iconFileName="rest-logo.png"></LabeledIcon>
				</TitledContainer>
			</div>
			<p>
				For an exhaustive list of the technologies I've worked with
				and the training I've completed,
				<a 
				href="https://docs.google.com/document/d/1OXhOpS_0R9XaxMbjMaMJuRj1WHKsW5dUWVgsK8_gLXg/edit?usp=sharing" 
				>
					check out my CV!
				</a>
			</p>
		</Section>
		<Section title="contact me">		
			<div class="row justify-content-center">
				<div class="col-11 col-lg-3 mb-2">
					<h2 class="text-primary">
						Let's Connect!
					</h2>
					<p>
						I'd love to answer any questions you have.
					</p>
				</div>
				<div class="col-11 col-lg-9">
					<ContactForm client:visible></ContactForm>
				</div>
			</div>
		</Section>
	</div>
</BaseLayout>


<style>
p:last-child {
	margin-bottom: 0;
}
textarea.form-control {
	height: 15rem;
}
</style>
