---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/hero/Hero.astro'
import Section from '../components/Section.astro'
---

<BaseLayout title="Mike Churvis">
	<div class="container-fluid p-0">
		<Hero></Hero>

		<Section title="about me"></Section>
		<Section title="my skills"></Section>
		<Section title="my blog"></Section>
		<Section title="contact me"></Section>
	</div>
</BaseLayout>
