---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import Section from '../components/Section.astro'
---

<BaseLayout title="Mike Churvis">
	<div class="container-fluid p-0">
		<Hero></Hero>

		<Section title="my skills">
		
		</Section>
	</div>
</BaseLayout>
