---
import ContactForm from '@/components/ContactForm.astro'

import BaseLayout from '@/layouts/BaseLayout.astro'

import Debug from 'astro/debug'

---

<BaseLayout>
  <div class="container">
    <!-- <Debug {debugObj} /> -->
    <ContactForm />
  </div>
</BaseLayout>