---
import SectionLayout from '@layouts/SectionLayout.astro';
---


<SectionLayout title="Welcome" id="about">
  <p>
    Hi! I'm Mike. I'm a web developer from Atlanta, GA.
  </p>
  <p>
    I learn by doing. That's why
    <strong>I built this website the hard way</strong>:
    no templates, no boilerplate, no shortcuts.
  </p>
  <p>
    Here's some of what I learned:
  </p>
</SectionLayout>