---
import SectionLayout from '@/layouts/SectionLayout.astro';

import ContactForm from '@/components/ContactForm.vue';

const { PUBLIC_CONTACT_FORM_TARGET } = import.meta.env;
---


<SectionLayout title="Contact Me" id="contact">
  <div class="row justify-content-center">
  
    <div class="col-12 col-lg-3 mb-2">
      <h2 class="text-primary">
        Let's Connect!
      </h2>
      <p>
        I'd love to answer any questions you have.
      </p>
    </div>

    <div class="col-12 col-lg-9">
      <ContactForm 
        client:only 
        target={ PUBLIC_CONTACT_FORM_TARGET }
      />
    </div>

  </div>
</SectionLayout>