---
import headshotImg from '../images/HeadshotTransparencyOffWhite.png'
---

<div class="
container-fluid 
p-5 
bg-primary
">
    <div class="row justify-content-center">
        <div class="mx-3 col-11 col-sm-8 col-lg-4 col-xxl-3">
            <img class="
            rounded-circle
            shadow
            w-100
            " 
            src={ headshotImg } 
            alt="The bust of Mike Churvis wearing a blue polo and glasses">
        </div>

        <!-- force line break when screen is narrow -->
        <div class="w-100 d-block d-lg-none"></div>

        <div class="col-auto">
            <h1 class="display-1 text-center text-lg-start text-white">Mike Churvis</h1>
            <h2 class="display-6 pt-2 text-center text-lg-start text-white">Full Stack Web Developer</h2>
            
            <div class="
            d-inline-flex
            align-items-center 
            alert  
            alert-info 
            shadow 
            shadow-glow-info 
            mt-3
            ">
                <span class="text-success fs-3 pe-4">Status: 
                    <span class="fw-bold">Seeking Employment</span>
                </span>

                <a target="_top" href="mailto:mikechurvis@gmail.com?subject=I'm%20with%20<COMPANY>.%20I%20saw%20your%20website...&body=Hi%20Mike!" class="btn btn-success align-items-center d-flex ms-auto fs-3 stretched-link">
                    <i class="bi-envelope-fill fs-2 me-3"></i>
                    Email Me
                </a>
            </div>

             <div class="d-flex justify-content-center justify-content-lg-start">
                <a href="#" class="btn btn-lg btn-outline-light my-3 fs-3">
                    View my work
                    <i class="bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>