---
const { title, icon } = Astro.props;
const directoryPrefix = '../images/logos/';
---


<div class="col mt-2">
  
  <div class="d-flex justify-content-center mb-1">
    <img 
      src={Astro.resolve(directoryPrefix + icon)} 
      alt={"logo for " + title} 
      class="thumb"
    >
  </div>

  <div class="text-center fs-6">
    {title}
  </div>

</div>

<style>
img.thumb {
  max-height: 2.7rem;
}
</style>