---
const { title } = Astro.props;
const slug_id = title.toLowerCase().replace(/\W/g, "-");
---


<div id={slug_id} class="section m-1 p-3 col-11 mx-auto">
    <div class="row justify-content-center align-items-center">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto">
            <h1 class="text-center text-primary text-uppercase">{title}</h1>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <slot></slot>
        </div>
    </div>
</div>
