---
import AnchorTarget from './AnchorTarget.astro'

const { title } = Astro.props;
const slug_id = title.toLowerCase().replace(/\W/g, "-");
---

<AnchorTarget slug_id={slug_id}></AnchorTarget>

<section class="col-11 mx-auto fs-5 m-1 p-3">
    <div class="row justify-content-center align-items-center mb-2">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto">
            <h1 class="text-center text-primary text-uppercase">{title}</h1>
        </div>
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto section-slot">
            <slot></slot>
        </div>
    </div>
    
</section>

<style lang="scss">
.section-slot {
	width: 100%;
	max-width: 45rem;
}
</style>

