---
const { title, iconPath } = Astro.props;
---


<div class="labelled-icon col mt-2">
  
  <div class="d-flex justify-content-center mb-1">
    <img 
      src={ iconPath /* this doesn't work yet -> (await import(iconPath)).default*/ } 
      alt={"logo for " + title} 
      class="labelled-icon__image"
    />
  </div>

  <div class="labelled-icon__title text-center fs-6 ">
    {title}
  </div>

</div>

<style lang="scss">

.labelled-icon {
  &__image {
    max-height: 2.7rem;
    max-width: 3rem
  }
}
</style>