---
const { title, iconPath } = Astro.props;
---


<div class="labelled-icon col mt-2">
  
  <div class="icon_container d-flex justify-content-center mb-1">
    <img 
      src={ iconPath /* this doesn't work yet -> (await import(iconPath)).default*/ } 
      alt={"logo for " + title} 
      class="labelled-icon__image"
    />
  </div>

  <div class="labelled-icon__title text-center fs-6 ">
    {title}
  </div>

</div>

<style lang="scss">
div {
  // outline: 1px solid purple;
  // max-width: 4rem;

  &.icon_container {
    height: 3rem;
    // width: 100%;
  }
}



.labelled-icon {
  &__image {
    // position: relative;
    object-fit: scale-down;
    // top: 50%;
    // left: 50%;
    // height: auto;
    // max-height: 100%;
    // width: auto;
    max-width: 90%
  }
}
</style>