---
import SectionLayoutTest from '@components/tests/SectionLayoutTest.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---


<BaseLayout>
  <div class="container">
    <SectionLayoutTest />
  </div>
</BaseLayout>